<!DOCTYPE html>

<html lang="en">

<head>

    <title>@ViewData["Title"] | Jamie Duddleston</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="GuildedThorn, Jamie Duddleston, GuildedThorn.com, Guilded Thorn"/>

    <meta property="og:title" content="@ViewData["Title"] | GuildedThorn"/>
    <meta property="og:site_name" content="GuildedThorn.com"@ViewData["Endpoint"]/>
    <meta property="og:description" content="@ViewData["Description"]"/>

    <meta property="twitter:title" content="@ViewData["Title"] | GuildedThorn"/>
    <meta property="twitter:description" content="@ViewData["Description"]"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="GuildedThorn.com"@ViewData["Endpoint"]/>

    <meta name="theme-color" content="#000080"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<body>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>